.square {
    background-color: black;
    border: 1px #dadada;
    font-size: 45px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 5px;

}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}
.game {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    margin: 0 auto;
}

ul {
    padding-left: 30px;
}

.game-info {
    margin-left: 20px;
}

.status {
    margin-bottom: 10px;
}
